body {
  margin: 0;
}

.main-girl {
  display: flex;
  align-items: stretch;
}

.main-girl__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-girl__left_content {
  max-width: 370px;
}

.title {
  position: relative;
  display: flex;
  width: 311px;
  height: 178px;
}

.title__dollar {
  position: absolute;
  top: -14px;
  margin: 0 0 0 3px;
  font: 900 144px/144px 'Playfair Display', arial, helvetica, serif;
}

.title__prise {
  position: absolute;
  margin: 35px 0 0 110px;
  width: 189px;
  font: 900 80px/100px 'Playfair Display', arial, helvetica, serif;
  letter-spacing: 15px;
}

.title__description {
  margin: 3px 0 0 112px;
  width: 170px;
  height: 59px;
  color: #7e7e7e;
  font: normal 20px/27px 'Playfair Display', arial, helvetica, serif;
}

.email-form {
  display: block;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.email_input {
  width: 334px;
  height: 31px;
  margin-top: 3px;
  padding: 6px 0 0 29px;
  margin-bottom: 28px;
  border-color: #000;
  border-width: 2px;
  color: #8a8a8a;
  font: 500 18px/21px 'robotomedium', arial, helvetica, sans-serif;
}

.email_button {
  display: inline-block;
  margin: 0 0 15px 0;
  padding: 29px 89px 20px 89px;
  color: #fff;
  background: #000;
  text-decoration: none;
  border: none;
  font: 500 18px/21px 'robotomedium', arial, helvetica, sans-serif;
}

.form_notice {
  margin: 0 0;
  color: #8a8a8a;
}

.main-girl__right {
  width: 50%;
  height: 100vh;
}

.main-girl__right_image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .main-girl__left_content {
    padding-left: 100px;
  }
}

@media (max-width: 980px) {
  .main-girl__left_content {
    padding-left: 40px;
    max-width: 350px;
  }

  .title__dollar {
    font: 900 140px/140px 'Playfair Display', arial, helvetica, serif;
  }

  .title__prise {
    margin: 35px 0 0 110px;
    font: 900 70px/90px 'Playfair Display', arial, helvetica, serif;
  }

  .title__description {
    font: normal 18px/25px 'Playfair Display', arial, helvetica, serif;
  }

  .email_input {
    width: 304px;
  }

  .email_button {
    padding: 29px 74px 20px 70px;
  }
}

@media (max-width: 768px) {
  .main-girl__left_content {
    padding-left: 40px;
    max-width: 350px;
  }

  .title {
    width: 175px;
    height: 100px;
    margin-bottom: 13px;
  }

  .title__dollar {
    font: 900 100px/100px 'Playfair Display', arial, helvetica, serif;
  }

  .title__prise {
    margin: 25px 0 0 80px;
    font: 900 40px/60px 'Playfair Display', arial, helvetica, serif;
    letter-spacing: 9px;
  }

  .title__description {
    margin: 3px 0 0 82px;
    width: 90px;
    font: normal 10px/15px 'Playfair Display', arial, helvetica, serif;
  }

  .email_input {
    margin-bottom: 15px;
    width: 190px;
    height: 20px;
    font: 500 10px/15px 'robotomedium', arial, helvetica, sans-serif;
  }

  .email_button {
    padding: 13px 57.5px;
    margin-bottom: 10px;
    font: 500 10px/15px 'robotomedium', arial, helvetica, sans-serif;
  }

  .form_notice {
    width: 230px;
    margin: 0 0;
    font: 500 9px/12px 'robotomedium', arial, helvetica, sans-serif;
  }
}

@media (max-width: 580px) {
  .main-girl__left_content {
    padding-left: 40px;
    max-width: 350px;
  }

  .title {
    width: 120px;
    height: 60px;
    margin-bottom: 13px;
  }

  .title__dollar {
    font: 900 70px/70px 'Playfair Display', arial, helvetica, serif;
  }

  .title__prise {
    margin: 10px 0 0 55px;
    font: 900 30px/50px 'Playfair Display', arial, helvetica, serif;
    letter-spacing: 4px;
  }

  .title__description {
    margin: 0 0 0 55px;
    width: 60px;
    font: normal 7px/10px 'Playfair Display', arial, helvetica, serif;
  }

  .email_input {
    margin-bottom: 12px;
    width: 130px;
    height: 10px;
    border-width: 1px;
    font: 500 7px/10px 'robotomedium', arial, helvetica, sans-serif;
  }

  .email_button {
    padding: 8px 42.5px;
    margin-bottom: 8px;
    font: 500 7px/10px 'robotomedium', arial, helvetica, sans-serif;
  }

  .form_notice {
    width: 170px;
    margin: 0 0;
    color: #8A8A8A;
    font: 500 6.5px/8px 'robotomedium', arial, helvetica, sans-serif;
  }
}

@media (max-width: 579px) {
  .main-girl {
    position: relative;
    height: 100vh;
    background: top right no-repeat url(img/girl-pay.jpg);
  }

  .main-girl__right {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .main-girl__right_image {
    width: 100%;
  }

  .main-girl__left {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .main-girl__left_content {
    padding-left: 0;
    min-width: 187px;
  }

  .title {
    width: 160px;
    height: 90px;
    margin-bottom: 13px;
  }

  .title__dollar {
    font: 900 90px/90px 'Playfair Display', arial, helvetica, serif;
  }

  .title__prise {
    margin: 20px 0 0 65px;
    font: 900 45px/60px 'Playfair Display', arial, helvetica, serif;
    letter-spacing: 6px;
  }

  .title__description {
    margin: 0 0 0 70px;
    width: 90px;
    font: normal 10px/15px 'Playfair Display', arial, helvetica, serif;
  }

  .email_input {
    margin-bottom: 12px;
    width: 170px;
    height: 20px;
    border-width: 1px;
    font: 500 10px/10px 'robotomedium', arial, helvetica, sans-serif;
  }

  .email_button {
    padding: 15px 36px;
    margin-bottom: 12px;
    font: 500 12px/12px 'robotomedium', arial, helvetica, sans-serif;
  }

  .form_notice {
    width: 200px;
    margin: 0 0;
    color: #8A8A8A;
    font: 500 8px/10px 'robotomedium', arial, helvetica, sans-serif;
  }
}
